name: Unit Testing

on:
  pull_request:
    branches:
      - main

jobs:
  unti_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_test.txt -r requirements.txt
        pip install -e .
    - name: Run unit tests
      run: python -m pytest --import-mode=append tests/
